# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env
*.egg-info/
dist/
build/
.pytest_cache/

# ML Models (trop lourds pour git)
backend/data/models/*.pkl
backend/data/*.csv
backend/data/eda_*.png

# Node
node_modules/
frontend/dist/
frontend/.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
